BraveSoftware/
Thunar/
dconf/
dunstrc.bak
gh/
gtk-2.0/
gtk-3.0/
htop/
mimeapps.list
neofetch/
nitrogen/
pulse/
user-dirs.dirs
user-dirs.locale
xfce4/
Code\ -\ OSS/
ristretto/
Trolltech.conf
VSCodium/
akregatorrc
baloofilerc
dolphinrc
elisarc
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kded_device_automounterrc
kdedefaults/
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kmixrc
konsolerc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmashellrc
powermanagementprofilesrc
session/
spectaclerc
startkderc
systemmonitorrc
systemsettingsrc
xsettingsd/
